header {
    position: relative;
    background: url(images/2.jpg);
    background-size: 1450px;
    height: 700px;
    width: 1450px;
}

.searchBox {
    position: absolute;
    width: 400px;
    height: 48px;
    box-shadow: rgb(30, 14, 46) 3px 3px 3px;
    border-style: dashed;
    border: 2px;
    border-radius: 35px;
    padding: 0px 20px;
    padding-right: 80px ;
}

.searchButton {
    position: absolute;
    width: 70px;
    height: 45px;
    left: 835px;
    top: 352px;
    border-radius: 35px;
    border-style: none;
    font-family: fantasy;
    letter-spacing: 2px;
}

.search {
    width: 400px;
    height: 50px;
    padding-top: 350px;
    padding-left: 35%;
}
.searchBox:focus{
    outline: none;
}
.searchButton:focus{
    outline: none;
    background-color: cadetblue;
}
.searchButton:hover{
    background-color: rgb(131, 221, 224);
}