html {
    font-size: 20px;
}

body {
    overflow-x: hidden;
    background-color: rgb(170, 213, 241);
}

header {
    position: relative;
    background: url(images/2.jpg);
    background-size: 100%;
    height: 700px;
    width: 1450px;
}

.searchBox {
    position: absolute;
    width: 400px;
    height: 48px;
    box-shadow: rgb(30, 14, 46) 3px 3px 3px;
    border-style: dashed;
    border: 2px;
    border-radius: 35px;
    padding: 0px 20px;
    padding-right: 80px;
}

.searchButton {
    position: absolute;
    width: 70px;
    height: 45px;
    left: 835px;
    top: 352px;
    border-radius: 35px;
    border-style: none;
    font-family: fantasy;
    letter-spacing: 2px;
}

.search {
    width: 400px;
    height: 50px;
    padding-top: 350px;
    padding-left: 35%;
}

.searchBox:focus {
    outline: none;
}

.searchButton:focus {
    outline: none;
    background-color: cadetblue;
}

.searchButton:hover {
    background-color: rgb(131, 221, 224);
}

.p1 {
    position: absolute;
    height: 70px;
    width: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.25rem;
    letter-spacing: 35px;
    font-weight: bolder;
    left: 540px;
    top: 105px;

}

.p2 {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 15px;
    font-weight: lighter;
    height: 70px;
    width: 150px;
    left: 590px;
    top: 225px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    header {
        width: 1100px;
        flex-direction: column;
        background-size: 120%;
        background: url(images/2.jpg);
        background-size: 100%;
        height: 615px;
    }

    .search {

        padding-left: 25%;
    }

    .searchButton {
        left: 605px;
        top: 352px;
    }

    .p1 {
        left: 310px;
        top: 105px;
    }

    .p2 {
        left: 360px;
        top: 225px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 750px) {
    html {
        font-size: 15px;
    }

    header {
        width: 900px;
        flex-direction: column;
        background-size: 100%;
        background: url(images/2.jpg);
        background-size: 100%;
        height: 445px;
    }

    .search {
        padding-left: 22%;
    }

    .searchButton {
        left: 526px;
        top: 301px;
    }
    .searchBox{
        top: 300px;
    }

    .p1 {
        left: 250px;
        top: 95px;
    }

    .p2 {
        left: 300px;
        top: 195px;
    }
}
@media screen and (max-width: 749px) and (min-width: 360px) {
    html {
        font-size: 12px;
    }

    header {
        width: 500px;
        flex-direction: column;
        background-size: 100%;
        background: url(images/2.jpg);
        background-size: 100%;
        height: 280px;
    }

    .search {
        padding-left: 15%;
    }

    .searchButton {
        width: 50px;
        height: 27px;
        left: 324px;
        top: 202px;
        font-size: 10px;
    }
    .searchBox{
        width: 300px;
        height: 30px;
        top: 200px;
    }

    .p1 {
        left: 140px;
        top: 45px;
        font-size: 20px;
        letter-spacing: 18px;
    }

    .p2 {
        left: 130px;
        top: 105px;
    }
}